.carrossel__titulo{
    color: var(--cor-texto-secundario);
    background-color: var(--cor-de-fundo2);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0 .5em 0;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: .5em 0;
}

.card__descricao{
    display: flex;
    justify-content: space-between;
}

.card__botoes{
    display: flex;
    justify-content: space-between;
}

.botoes{
    display: flex;
}