.rodape {
  background-color: var(--cor-de-fundo2);
}
.rodape__titulo {
  font-size: 1rem;
  font-weight: 400;
  padding: 1.5rem 2rem;
}

hr {
  margin: 0;
}

.lista-rodape {
  display: none;
  padding: 1.5rem 2rem;
}

@media screen and (min-width: 1024px) {
  .rodape {
    display: flex;
    justify-content: space-around;
  }

  .lista-rodape {
    display: block;
  }

  .lista-rodape__item {
    display: flex;
    align-items: center;
  }
}
